<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
</head>

<body>
  <ul>
    <% for(let i = 0; i < nav.length; i++){%>
    <a href="<%=nav[i].link%>"><%=nav[i].title%></a>
    <%}%>
  </ul>
  <ul>
      <% for(let i = 0; i < books.length; i++){%>
        <li><%=books[i].title%></li>
        <p><%=books[i].author%></p>
        <span><%=books[i].genre%></span>
        <a href="/book/<%=books[i]._id%>">Read more...</a>
        <hr>
        <%}%>
  </ul>
</body>

</html>